:root {
  /* COLORS */
  --main-color-1: #121018;
  --main-color-2: #312b41;
  --main-color-3: #484c5f;
  --main-color-4: #757575;
  --main-color-5: #bbbbbb;
  --main-color-6: #ffffff;
  
  --error-color-1: red;

  /* FONTS */
  /* --main-font: 'Alice', sans-serif; */

  /* BACKGROUNDS */
  --finance-panel-background: url(../public/img/finance-background.png);
}

body {
  width: 100vw;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
